/* your code here */
body{
	background-color: #68fc99;
}
.heading{
	font-size: 25px;
	margin-left: 13rem;
}
.small-poster{
	position: absolute;
	left: -40px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0, 0.2);
	height: 350px;
	width: 250px;
	border-radius: 10px;
	margin-top: 10px;
}
.amount{
	font-size: 40px;
	color: red;
}
.variant{
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-top: 1.5rem
}
.variant ul{
	list-style-type: none;
	display: flex
}
.variant ul img{
	width: 20px;
	height: 20px;
	object-fit: cover;
	box-shadow: 0 5px 8px rgba(0,0,0, 0.2);
}
.poster{
	position: relative;
	width: 400px;
	height: 400px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	padding: 20px;
	margin-left: 5.5rem;
	border-radius: 5px;
}
.add-to-cart{
	display: inline-block;
	padding: 10px;
	font-size: 18px;
	background-color: red;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.right{
	margin-left: 13rem;	
}
.apple-left{
	width: 250px;	
	height: 280px
}
.apple{	
	background: radial-gradient(#fff, #9af005);
}
